.wrapper {
    margin-top: 1%;
}
.introduction-section {
    min-width: 43.75rem;
    width: 40vw;
}
.my-role {
    color: #c6c6c6;
    min-width: 40vw;
    width: 44.375rem;
}
.my-name,
.introduction-section-paragraph {
    margin-bottom: 0.3125rem;
}
.introduction-section-paragraph {
    width: 100%;
    max-width: 34.375rem;
    margin-top: 2.25%;
}