.btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 8.125rem;
    padding: 0.9375rem 3.125rem;
    font-size: 1rem;
    background: transparent;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    border: 0.125rem solid #fff;
    border-radius: 8px;
    z-index: 0;
    cursor: pointer;
}
.hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.75rem;
    background-color: #fff;
    color: #1b1b1b;
    transform: translateY(100%);
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: -1;
}
.btn-span {
    color: #fff;
    user-select: none;
}
.btn:hover .hover {
    transform: translateY(0);
}
.btn-size-l {
    min-width: 14.375rem;
    padding: 20px 10px;
}
.btn:hover .btn-span {
    color: #1b1b1b;
}