.services-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 600px;
    width: 60vw;
}
.services-text {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}
.services-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    width: 100%;
    margin-bottom: 15px;
}
.service-item {
    background-color: rgba(28, 28, 30, 0.4);
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #e2e2e2;
    transition: all 0.3s ease;
    &:hover {
        background-color: rgba(28, 28, 30, 0.7);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}
.service-title {
    font-size: 24px;
    color: #fff;
    margin-bottom: 10px;
}
.service-description {
    font-size: 16px;
    color: #e2e2e2;
}