* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    font-family: "Open Sans", sans-serif;
    background: linear-gradient(to bottom, black, darkblue);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #fff;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: #fff;
}
.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fadeIn 0.6s ease-in;
}
.section-title {
    color: #fff;
    min-width: 38.125rem;
    font-size: 3.5rem;
}
.small-paragraph {
    font-family: 'Roboto Mono', sans-serif;
    color: #65ffd1;
    font-size: 1.1875rem;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}