<div class="wrapper">
    <div class="about-me-section">
        <div class="about-me-text">
            <p class="section-introduction small-paragraph">{{ introductionText }}</p>
            <h1 class="section-title">{{ sectionTitle }}</h1>
            <p class="about-me-section-paragraph">{{ aboutMeParagraph1 }}</p>
            <p class="about-me-section-paragraph">{{ aboutMeParagraph2 }}</p>
            <p class="about-me-section-paragraph">{{ aboutMeParagraph3 }}</p>
        </div>
        <div class="about-me-photo">
            <img src="FotoJRPE2.png" alt="">
            <div class="photo-overlay"></div>
            <div class="offset-rectangle"></div>
        </div>
    </div>
    <app-button 
        [buttonText]="buttonText" 
        (buttonAction)="navigate()">
    </app-button>
</div>
